export(PET)
export(BetaWeight)
S3method(print,BetaWeight)
S3method(summary,BetaWeight)
S3method(print,summary.BetaWeight)
S3method(coef,BetaWeight)
S3method(vcov,BetaWeight)
S3method(confint,BetaWeight)
export(trajectory)
S3method(print,PET)
S3method(summary,PET)
S3method(print,summary.PET)
S3method(coef,PET)
S3method(vcov,PET)
S3method(confint,PET)
S3method(plot,PET)
S3method(plot,PET_trajectory)
importFrom(stats,setNames)
importFrom(utils,tail)
